# ========================
# Python
# ========================
venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.coverage

# ========================
# Env / Secrets
# ========================
.env
application-local.properties
application-prod.properties

# ========================
# Build artifacts (Java)
# ========================
target/
spring/target/
*.class
*.jar
*.war
*.ear

# ========================
# Logs
# ========================
*.log
logs/
*.out
*.err

# ========================
# IntelliJ
# ========================
.idea/
*.iml

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db